body, html {
	background-color: green;
	margin: 0;
	padding: 0;	

}



#header {
	width: auto;
	height: auto;
	font-size: 45px;
	color: #CBF095;
	text-align: center;
	border-top: 10px #CBF095 solid;
	border-bottom: 10px #CBF095 solid;
	border-left: 5px #CBF095 solid;
	border-right: 5px #CBF095 solid;

}


.content {
	border-left: 5px solid #CBF095;
	border-right: 5px solid #CBF095;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
}
.container {
	width: 33%;
	min-width: 300px;
	min-height: 450px;
	border: 1px solid #169E2F;
	display: block;

}

.container p {
	color: yellow;
	font-size: 15px;
	padding-left: 5px;
	padding-right: 5px;
}

.image-container {
	float: left;
}
.table {
	width: 66%;
	min-height: 450px;
	float: left;

}

.image {
	width: 100%;
}


.image img {
	width: 80%;
	height: 80%;
	border: 1em solid yellow;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
}

.image img:hover {

	border: 1em solid red;
}


table {
	background-color: white;
	width: 75%;
	height: 50%;

	margin-left: auto;
	margin-right: auto;

	text-align: center;
	overflow: hidden;
}

table tr th {
	color: green;

}

table tr td {
	border: 1px solid green;
	width: auto;
	color: green;
}

.dag {
	width: 60px;
	font-style: italic;
	font-weight: bolder;
	color: black;

}

.table-duplicate {
	width: auto;
}

.table p {
	text-align: center;

}

/* m.b.v. http://mobile.smashingmagazine.com/2010/07/19/how-to-use-css3-media-queries-to-create-a-mobile-version-of-your-website/ */

@media only screen and (max-width: 925px) {
	.container {
		width: 49.5%;
	}	

	#header {
		font-size: 30px;

	}
	.table {
		width: 100%;
	}
}

@media only screen and (max-width: 625px) {
	.container {
		width: 100%;
	}

	#header {
		font-size: 15px;

	}
}


